{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sahitya&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oxanium&display=swap">
        {% block head %} {% endblock %}
    </head>

    <body>
        <header>
            <a class="logo" href="#">
                <img alt="logo" class="img-logo" src="{% static 'images/NoduleNet_Logo.png' %}">
            </a>
            <nav class="navigation">
                <div class="nav">
                    <a href="{% url 'home' %}">Home</a> 
                    {% block underline1 %} {% endblock %}
                </div>
                <div class="nav">
                    <a href="{% url 'about' %}">About</a>
                    {% block underline2 %} {% endblock %}
                </div>
                <div class="nav">
                    <a href="{% url 'detect' %}">Detect</a>
                    {% block underline3 %} {% endblock %}
                </div>
            </nav>
        </header>

        {% block content %} {% endblock %}

    </body>

</html>