{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>NoduleNet - Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block underline1 %}
    <div class="line"></div>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome to Lung Nodule Detection and Segmentation Tool</h1>
        <h3>Transforming lung health diagnostics with advanced AI-powered image processing</h3>
        <img alt="logo" class="logo" src="{% static 'images/NoduleNet - Logo.png' %}">
        <p class="text">Our tool leverages cutting-edge technology to identify and highlight pulmonary nodules, aiding radiologists and medical professionals in early diagnosis. Experience seamless CT scan analysis with precise detection and segmentation of lung nodules. Get started by uploading your CT scan images for instant nodule detection. Ready to take the next step in lung health diagnostics? Try our tool now!</p>
        <a href="{% url 'detect' %}" class="btn">Try</a>
    </div>
{% endblock %}